.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lyrics {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: large;
    width: 400px;
    margin-left: 30px;
}

.oh-canada {
    color: darkred;
    font-weight: bold;
    display: inline;
}

img {
    float: right;
    width: 600;
    margin-left: 50px;
    margin-right: 100px;
}
