@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

:root{
  --background: #333;
  --primaryColour: rgb(123, 255, 196);
  --text: #fff;
  --untypedLetter: #666;
}

*{
  box-sizing: border-box;
}

body{
  font-family: "Quicksand", sans-serif;
  background: var(--background);
  color: var(--text);
  font-size: 1.4rem;
}

main{
  width: 600px;
  margin: 50px auto;
}

h1{
  color: var(--primaryColour);
}

#header{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;
}

button{
  font-family: "Quicksand", sans-serif;
  background: rgba(255,255,255,.2);
  border: 0;
  color: rgba(255,255,255,.6);
  padding: 6px 18px;
  border-radius: 6px;
  cursor: pointer;
}

#game{
  position: relative;
  height: 105px;
  line-height: 35px;
  overflow: hidden;
}

#game:focus{
  outline: none;
}

#words{
  color: var(--untypedLetter);
  filter: blur(5px);
  transition: transform 0.15s ease;
}

#game:focus #words{
  filter: blur(0);
}

.word{
  display: inline-block;
  margin: 0 5px;
}

.letter.correct{
  color: white;
}

.letter.incorrect{
  color: #f55;
}

#cursor{
  position: absolute;
  width: 2px;
  height: 1.6rem;
  background: var(--primaryColour);
  animation: blink 1s infinite;
  transition: left 0.08s linear, top 0.08s linear;
}

#game:not(:focus) #cursor{
  display: none;
}

#focus-error{
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#game:focus #focus-error{
  display: none;
}

@keyframes blink{
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
