body {
    line-height: 1.6;
    color: rgba(51, 51, 51, 1);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(35, 35, 43);
    margin-bottom: 20px;
    font-size: 2.5rem;
    border-bottom: 3px solid rgba(34, 37, 44, 1) /*rgba(52, 152, 219, 1)*/;
    padding-bottom: 10px;
}

h2 {
    color: rgb(35, 35, 43) /*rgba(52, 73, 94, 1)*/;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.main-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

ul {
    margin: 15px 0;
    padding-left: 30px;
}

li {
    margin-bottom: 10px;
}

.highlight {
    background-color: rgb(223, 227, 231);
    padding: 15px;
    border-left: 4px solid rgba(34, 37, 44, 1) /*rgba(52, 152, 219, 1)*/;
    margin: 20px 0;
}

