body {
    line-height: 1.6;
    color: rgba(51, 51, 51, 1);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;

    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    padding-bottom: 10px;
    margin-bottom: 20px;

    border-bottom: 3px solid rgba(34, 37, 44, 1) /*rgba(52, 152, 219, 1)*/;
    font-size: 2.5rem;
    color: rgb(35, 35, 43);
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    
    font-size: 1.8rem;
    color: rgb(35, 35, 43) /*rgba(52, 73, 94, 1)*/;
}

.main-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

ul {
    margin: 15px 0;
    padding-left: 30px;
}

li {
    margin-bottom: 10px;
}

.highlight {
    padding: 15px;
    margin: 20px 0;

    border-left: 4px solid rgba(34, 37, 44, 1) /*rgba(52, 152, 219, 1)*/;
    background-color: rgb(223, 227, 231);
}

.home-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
    transition: all 0.3s ease;
}

.home-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-button:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.home-button:active {
    transform: scale(0.8);
}
