.heading {
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;

    justify-content: center;
    align-items: center;

    background-image: url("../img/innovations-in-computer-science.jpg");
    background-size: /*60%*/ cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.heading h1 {
    position: relative;
    padding: 20px;

    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);

    font-size: 1in;
    text-align: center;
}

.heading::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.nav-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-menu h2 {
    text-align: center;
    margin-bottom: 20px;

    color: /*rgba(255, 255, 255, 1)*/ rgba(51, 51, 51, 1);
    font-size: 0.3in;
}

.nav-list-row1, .nav-list-row2 {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;

    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.nav-link {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 25px;

    background-color: rgba(0, 123, 255, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;

    text-decoration: none;
    font-size: 0.175in;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(0, 86, 179, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transform: translateY(-2px);
    text-decoration: underline;
}

.source {
    margin: 80px 30px 30px 30px;
}
