body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #f4f4f4;

    font-family: Arial, Helvetica, sans-serif;
}

.source {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin: 80px 30px 0px 0px;
}
