.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav-list .nav-item {
  float: left;
}

.nav-list .nav-item .nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list .nav-item .nav-link:hover {
  background-color: #111111;
}
