.lyrics {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: large;
    width: 400px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.oh-canada {
    color: darkred;
    font-weight: bold;
    display: inline;
}

.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
